.tenuki-board {
  &.tenuki-scaled .cancel-zoom.visible {
    background: #B95858;
    height: 70px;
    width: 20px;
    position: absolute;
    transform: rotateZ(45deg);
    bottom: 62px;
    z-index: 2;
    left: 89px;
  }

  &.tenuki-svg-renderer.tenuki-scaled .cancel-zoom.visible {
    left: 87px;
  }

  &.tenuki-scaled .cancel-zoom.visible:after {
    background: #B95858;
    content: "";
    height: 20px;
    left: -25px;
    position: absolute;
    top: 25px;
    width: 70px;
  }

  &.tenuki-scaled .cancel-zoom.visible + .cancel-zoom-backdrop {
    position: absolute;
    z-index: 1;
    bottom: 48px;
    background: rgba(235, 201, 138, 0.81);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    left: 49px;
  }

  &.tenuki-svg-renderer.tenuki-scaled .cancel-zoom.visible + .cancel-zoom-backdrop {
    width: 99px;
    height: 98px;
    left: 47px;
  }
}
